.ui.attached.segment .ui.header .title {
    text-align: center;
    margin-bottom: 32px;
}

.cai-card:hover {
    transform: translateY(-5px) scale(1.05);
}

.ui.attached.segment.cai-card {
    border: none;
}

.markdown-body pre {
    position: relative;
}

/*.markdown-body pre:hover:before {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    content: "📃";*/
/*    color: red;*/
/*    cursor: pointer;*/
/*}*/
code {
    word-break: break-word;
    border-radius: 2px;
    background-color: #fff5f5;
    color: #ff502c;
    padding: .065em .4em;
}

.highlight pre code {
    font-family: Consolas, Monaco, monospace;
}
.markdown-body .ui.attached.segment {
    border: none;
}

.markdown-body blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
    border-radius: 3px;
}
.markdown-body blockquote p {
    margin: 10px 0;
}

.markdown-body img {
    max-width: 100%;
}

.markdown-body ul li, .markdown-body ol li {
    margin: 6px 0;
}

.markdown-body .ui.attached.segment {
    background-image: repeating-linear-gradient(to bottom, transparent, transparent 8px, rgba(238,238,238,0.5) 8px, rgba(238,238,238,0.5) 9px),
                      repeating-linear-gradient(to right, transparent, transparent 8px, rgba(238,238,238,0.5) 8px, rgba(238,238,238,0.5) 9px);
}

.ui.attached.segment {
    max-width: 100%;
    margin: auto;
}

.markdown-body table {
    border-collapse: collapse;
}

.markdown-body table tr, .markdown-body table td {
    border: 1px solid #ccc;
}


.markdown-body table td, .markdown-body table th {
    padding: 5px 10px;
}

.markdown-body table th {
    background-color: #f0f0f0;
}

.markdown-body table th:not(:last-child) {
    border-right: 1px solid #ccc;
}



.markdown-body details summary {
    margin-bottom: 16px;
}

@media screen and (max-width: 1600px){
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1900px){
    html {
        font-size: 18px;
    }
}
@media screen and (min-width: 1900px){
    html {
        font-size: 20px;
    }
}
@media screen and (max-width: 800px){
    .ui.grid.dream-grid {
        margin: auto;
    }
    .ui.grid.dream-grid .markdown-body.dream-single {
        padding: 0;
    }
}
